In [4]:
import wti_env

Gym has been unmaintained since 2022 and does not support NumPy 2.0 amongst other critical functionality.
Please upgrade to Gymnasium, the maintained drop-in replacement of Gym, or contact the authors of your software and request that they upgrade.
Users of this version of Gym should be able to simply replace 'import gym' with 'import gymnasium as gym' in the vast majority of cases.
See the migration guide at https://gymnasium.farama.org/introduction/migration_guide/ for additional information.

In [35]:
import pandas as pd
import numpy as np

In [43]:
def create_merged_df(contract_type):
  spot = pd.read_csv("/Users/ethanhersch/Documents/Documents/Stanford/CS238/FinalProject/CS238_Project/data/oil_data/Cushing_OK_WTI_Spot_Price_FOB_sorted.csv")
  futures = pd.read_csv(f"/Users/ethanhersch/Documents/Documents/Stanford/CS238/FinalProject/CS238_Project/data/oil_data/NYMEX_futures/Cushing_OK_Crude_Oil_Future_Contract_{contract_type}.csv")

  df = pd.merge(spot, futures, on="Date", how="inner")
  df = df.rename(columns={"Price_y": f"CL{contract_type}"})
  df = df.rename(columns={"Price_x": "spot_price"})
  df[f"ret_CL{contract_type}"] = np.log(df[f"CL{contract_type}"].shift(-1) / df[f"CL{contract_type}"])
  return df

In [ ]:
def add_pipeline_weather_data(df, location):
  loc_df = pd.read_csv(f"/Users/ethanhersch/Documents/Documents/Stanford/CS238/FinalProject/CS238_Project/data/weather_data/incoming_pipeline/pipeline_{location}_dailyaggr.csv")

  loc_df = loc_df.drop(columns=["system:index", ".geo"])
  loc_df = loc_df.rename(columns={"date": "Date"})
  loc_df = loc_df.rename(columns={"mean_temp_K": f"{location}_temp"})
  loc_df = loc_df.rename(columns={"total_precip_mm": f"{location}_precip"})
  df = pd.merge(df, loc_df, on="Date", how="outer")
  return df

In [ ]:
df = create_merged_df(1)
loc_df = add_pipeline_weather_data(df, "alaska")
loc_df

/Users/ethanhersch/anaconda3/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

             Date  spot_price    CL1   ret_CL1  alaska_temp  alaska_precip
0      1986-01-01         NaN    NaN       NaN   251.325109       1.355061
1      1986-01-02       25.56  25.56  0.015913   248.181843       2.670807
2      1986-01-03       26.00  25.97  0.022841   248.961898       3.482124
3      1986-01-04         NaN    NaN       NaN   256.924590       8.399591
4      1986-01-05         NaN    NaN       NaN   259.467623       3.085256
...           ...         ...    ...       ...          ...            ...
14544  2025-10-27         NaN    NaN       NaN   263.008558       0.821062
14545  2025-10-28         NaN    NaN       NaN   261.721141       0.740532
14546  2025-10-29         NaN    NaN       NaN   260.200570       0.525947
14547  2025-10-30         NaN    NaN       NaN   264.695328       4.312884
14548  2025-10-31         NaN    NaN       NaN   267.051341       3.972578

[14549 rows x 6 columns]

In [83]:
locations = ["alaska", "bakken", "canada", "midwest", "ok_ntx", "permian", "rockies", "texas_gulf"]

df = create_merged_df(1)
for loc in locations:
  print(loc)
  df = add_weather_data(df, loc)

df

alaska
bakken
canada
midwest
ok_ntx
permian
rockies
texas_gulf

/Users/ethanhersch/anaconda3/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Date,spot_price,CL1,ret_CL1,alaska_temp,alaska_precip,bakken_temp,bakken_precip,canada_temp,canada_precip,midwest_temp,midwest_precip,ok_ntx_temp,ok_ntx_precip,permian_temp,permian_precip,rockies_temp,rockies_precip,texas_gulf_temp,texas_gulf_precip
0,1986-01-01,NaN,NaN,NaN,251.325109,1.355061,265.638603,0.144841,258.709092,1.055854,269.207989,0.071703,278.063762,0.177857,281.986937,1.161006,267.676470,0.364644,283.180808,0.173568
1,1986-01-02,25.56,25.56,0.015913,248.181843,2.670807,267.462871,4.618883,259.668224,2.426405,272.636515,1.420228,280.687172,0.000855,282.793781,0.000860,269.915554,1.112069,284.128822,0.489698
2,1986-01-03,26.00,25.97,0.022841,248.961898,3.482124,262.755624,0.840877,257.547465,0.577723,272.069060,0.977935,279.298853,0.000861,282.357327,0.001564,268.373695,1.647863,285.753964,0.373387
3,1986-01-04,NaN,NaN,NaN,256.924590,8.399591,261.385315,0.906150,258.104988,0.114558,270.234141,1.664553,279.991142,0.002338,282.934456,0.000140,265.661832,0.935338,287.036997,2.275222
4,1986-01-05,NaN,NaN,NaN,259.467623,3.085256,259.782610,0.054369,256.062176,0.340811,267.173910,0.140500,275.059661,0.000855,277.982197,0.000855,264.391345,0.465313,281.816230,0.078145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14544,2025-10-27,NaN,NaN,NaN,263.008558,0.821062,281.235127,7.629360,276.561251,4.685319,284.752110,1.661407,289.814265,0.367446,292.873316,0.001816,280.113207,3.239363,296.267465,0.458347
14545,2025-10-28,NaN,NaN,NaN,261.721141,0.740532,278.660430,0.492476,274.609245,1.079628,283.380851,4.361173,289.511603,6.071752,291.805778,0.025245,275.700514,1.155732,296.581484,0.649295
14546,2025-10-29,NaN,NaN,NaN,260.200570,0.525947,277.164762,0.103659,274.664147,1.637039,281.491532,5.895357,284.635429,0.885973,284.983150,0.000852,275.855784,0.002823,291.228933,2.044363
14547,2025-10-30,NaN,NaN,NaN,264.695328,4.312884,279.141069,0.468264,274.764464,1.991581,280.917505,0.243572,283.596790,0.001588,284.976582,0.000435,278.163135,0.037670,288.453929,0.002023
14548,2025-10-31,NaN,NaN,NaN,267.051341,3.972578,275.513860,1.305134,273.339773,0.358238,280.455077,0.370736,285.209818,0.000000,288.226607,0.000000,276.612491,0.027035,288.858005,0.000000

In [ ]:
def add_producing_weather_data(df, location):
  loc_df = pd.read_csv(f"/Users/ethanhersch/Documents/Documents/Stanford/CS238/FinalProject/CS238_Project/data/weather_data/producing_locations/daily_temp_precip_{location}_dailyaggr.csv")

  loc_df = loc_df.drop(columns=["system:index", ".geo"])
  loc_df = loc_df.rename(columns={"date": "Date"})
  loc_df = loc_df.rename(columns={"mean_temp_K": f"{location}_temp"})
  loc_df = loc_df.rename(columns={"total_precip_mm": f"{location}_precip"})
  df = pd.merge(df, loc_df, on="Date", how="outer")
  return df